<body>
  
<header>
  <div class="grid-container">
    <div class="grid-child"><a class="navbar-brand" href="#" ><p class="logo-weather">Weather</p>
      <p class="logo-app">App</p></a></div>
    
   
      
      <div class="grid-child search" >
          <form class="d-flex" role="search" (submit)="onSubmit()">
            <input class="form-control me-2"  name="city" [(ngModel)]="cityName" type="search" placeholder="Search City" aria-label="Search" style="width: 20rem;">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            <button class="btn btn-primary" type="submit"  (click) = "onSubmit()"><svg stroke="currentColor" fill="white" stroke-width="0"
    
              viewBox="0 0 1024 1024" height="1em" width="1em"
    
              xmlns="http://www.w3.org/2000/svg">
    
              <path d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"></path></svg></button>
          </form>
        
  </div>
<div class="grid-child" id="dropdown" style="margin-left: 25rem;">
  
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://images.unsplash.com/photo-1524250502761-1ac6f2e30d43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80" class="rounded-circle" height="32" width="32"
      alt=""  /></a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/login">Login</a></li>
      <li><a class="dropdown-item" routerLink="/register">Signup</a></li>
      <li><a class="dropdown-item" routerLink="/watchlist">My Watchlist</a></li>
    </ul>
  
</div>
</div> 
</header>
    <div class="currentcard">
        <div class="cards">
        <div class="top-info"><div class="Info"><p style="font-size: 0.5rem; font-weight:bold;">CURRENT WEATHER</p>
             <p style="font-size: 0.5rem; margin-top: -1rem;font-weight: 400;">{{ weatherData?.location?.localtime}}</p></div>
           <div class="Info" style="margin-left: 5rem;"> <h1 style="font-size: 1.125rem;"><b>{{ weatherData?.location?.name}}, {{weatherData?.location?.region}}</b></h1></div> <div class="Info">
            <button id="button" (click)="addToCart()"
            style="background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;"><svg style="width:24px;height:24px" viewBox="0 0 24 24"> 
              <path fill="black" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
          </svg></button>
            
            
            <button id="button" (click)="removeFromCart()">

            </button>
           </div></div>
        <div class="middle-info" ><div class="temp-and-info"> 
          <img src="https://cdn3d.iconscout.com/3d/premium/thumb/sunny-day-3311771-2754905.png" width="182px" height="91px" style="z-index: 1;" *ngIf='weatherData?.current?.is_day==1'> 
          <img src="https://cdn3d.iconscout.com/3d/premium/thumb/moon-2997243-2516281.png" width="91px" height="91px" style="z-index: 1; margin-left: 3rem;" *ngIf='weatherData?.current?.is_day==0'>
        </div> <div class="temp-and-info" style="margin-left: -4rem;"> <h2 style="font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
           margin-left: 2rem;
            /* identical to box height */
            
            letter-spacing: 0.04em;">{{ weatherData?.current?.temp_c}} °C</h2><br><p class="other" style="margin-left: 2rem;">{{ weatherData?.current?.condition?.text}}</p></div>
          <div class="temp-and-info"> <p >Precipitation: {{ weatherData?.current?.precip_mm}} mm</p><p class="other-data">Wind: {{ weatherData?.current?.wind_kph}} KMPH</p><p class="other-data">Humidity: {{ weatherData?.current?.humidity}}%</p><p class="other-data"> Feels Like: {{ weatherData?.current?.feelslike_c}}°C </p></div></div> 
          <!-- <div class="bottom-info" style="margin-left: 1rem;"> <p style="font-size: 0.75rem;"> Night {{ weatherData?.forecast?.forecastday?.day?.mintemp_c}}°C</p></div> -->
        </div>
    </div>
    
    
    <div class="future-forecast">
    
        <div class="today" id="current-temp" *ngIf="weatherData">
    
            <div class="others">
                <div class="day" style="text-align: center;">Today</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp" style="text-align: center;">Max {{weatherData.forecast.forecastday[0].day.maxtemp_c}}&#176; C</div>
                <div class="temp" style="text-align: center;">Min {{weatherData.forecast.forecastday[0].day.mintemp_c}}&#176; C</div>
            </div>
            
        </div>
    
        <div class="weather-forecast" id="weather-forecast" *ngIf="weatherData">
            <div class="weather-forecast-item">
                <div class="day">Tue</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp" style="text-align: center;">Max {{weatherData.forecast.forecastday[1].day.maxtemp_c}}&#176; C</div>
                <div class="temp" style="text-align: center;">Min {{weatherData.forecast.forecastday[1].day.mintemp_c}}&#176; C</div>
            </div>
            <div class="weather-forecast-item">
                <div class="day">Wed</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp" style="text-align: center;">Max {{weatherData.forecast.forecastday[2].day.maxtemp_c}}&#176; C</div>
                <div class="temp" style="text-align: center;">Min {{weatherData.forecast.forecastday[2].day.mintemp_c}}&#176; C</div>
            </div>    
        </div>
    </div>
</body>



<!-- <div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
    </form>
  </div>
  
  <div class="container" *ngIf="weatherData">
    <div class="upper-data">
      <img src="../assets/summer.jpg" *ngIf="weatherData.current.temp_c > 15">
      <img src="../assets/winter.jpg" *ngIf="weatherData.current.temp_c <= 15">
  
      <div class="weather-data">
        <div class="location">{{ weatherData.location.name }}</div>
        <div class="temperature">{{ weatherData.current.temp_c | number : '1.0-0'}} °C</div>
      </div>
    </div>
  
    <div class="lower-data">
      <div class="more-info-label">
        More Information
      </div>
      <div class="more-info-container">
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/feelslike.png" alt="feelslike">
            <span>feelslike</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.feelslike_c }}°C
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/uv.png" alt="uv">
            <span>uv</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.uv }} °C
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/humidity.png" alt="humidity">
            <span>humidity</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.humidity }}%
          </div>
        </div>
  
        <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/wind.png" alt="wind">
            <span>wind</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.wind_kph }} km/hr
          </div>
        </div>
  
      </div>
    </div>
  </div>

  
  <div class="weather-container" *ngIf="weatherData">
    <div class="forecast-container">
      <div class="day">{{ weatherData.forecast.forecastday[0] }}</div>
      <img src="../assets/sun.png" alt="sun">
      <div class="block-value">
        {{ weatherData.forecast.forecastday[2].day.avgtemp_c }} °C
      </div>
    </div>
    <div class="forecast-container">
      <div class="day">Tuesday</div>
      <img src="../assets/sun.png" alt="sun">
      <div class="block-value">
        11 km/hr
      </div>
    </div>
    <div class="forecast-container">
      <div class="day">Wednesday</div>
      <img src="../assets/sun.png" alt="sun">
      <div class="block-value">
        11 km/hr
      </div>
    </div>
    <div class="forecast-container">
      <div class="day">Thursday</div>
      <img src="../assets/sun.png" alt="sun">
      <div class="block-value">
        11 km/hr
      </div>
    </div>
    <div class="forecast-container">
      <div class="day">Friday</div>
      <img src="../assets/sun.png" alt="sun">
      <div class="block-value">
        11 km/hr
      </div>
    </div>
    <div class="forecast-container">
      <div class="day">Saturday</div>
      <img src="../assets/sun.png" alt="sun">
      <div class="block-value">
        11 km/hr
      </div>
    </div>
    <div class="forecast-container">
      <div class="day">Sunday</div>
      <img src="../assets/sun.png" alt="sun">
      <div class="block-value">
        11 km/hr
      </div>
    </div>
  </div>
   -->