.Info
{
    margin-top: 0%;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    align-items: center;
}
#watch{
    text-align: right;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

} 

.nav-item dropdown{
    text-align: left;
}

#dropdown-menu{
    text-align: left;
}

.logo-weather{
    color: white;
    font-size: 1rem; 
    font-weight:bold;
}
.logo-app{
    margin-top: -1rem;
    color: white;
    font-size: 0.75rem; 
    font-weight:bold;
}
.row{
    padding: .5rem 3rem;
    display: flex inline;
    flex-direction: row;
    
    
}
.grid-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 20px;
}
#button{
    border: 0;
    background-color: white;
}
.temp-and-info
{ align-items: center;
    margin-top: 0%;
    display: inline-block;
    padding-left: 1rem;
   margin-right: 2rem ;
    vertical-align: middle; 
}


.bottom-info{
    
    margin-top: -1rem;
}
.other-data{
    
     margin-top: -1rem;
}
.other{
    margin-top:-2rem ;
}
.middle-info{
    padding: 1rem 1rem;
    margin-top: -2rem;
    margin-left: -4rem;
}

.currentcard {
    
    align-items: center;
    position: absolute;
    margin-left: 23%;
    margin-top: 2rem;
    display: flex;
    
    background: rgba(241, 241, 241, 0.2);
    backdrop-filter: blur(0.75rem);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0.5rem; 
    border: .125rem solid rgba(255, 255, 255, 0.2);        
    border-left: .125rem solid rgba(255, 255, 255, 0.3); 
    border-bottom: .125rem solid rgba(255, 255, 255, 0.05); 
    border-right: .125rem solid rgba(255, 255, 255, 0.05); 
}

.search{
    margin-right: -5rem;
        /* width: 100px; */
}

.chotacard{
   
    text-align: center;
    font-size:24px;
    font-weight: bolder;
    
}

p.bold{
    font-size: 12;
    font-weight: 900;
}
p.Regular{
    font-size: 12;
    font-weight:100;
}

.future-forecast{
    padding: 15px;
    position: fixed;
    bottom: 0;
    display: flex;
    color:black;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    margin-left: -6.5rem;
    margin-bottom: 1rem;

}

.future-forecast .today{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    width: 133px;
    height: 200px;
    padding: .75rem;
    background: rgba(241, 241, 241, 0.2);
    backdrop-filter: blur(0.75rem);
    border-radius: 0.5rem; 
    border: .125rem solid rgba(255, 255, 255, 0.2);        
    border-left: .125rem solid rgba(255, 255, 255, 0.3); 
    border-bottom: .125rem solid rgba(255, 255, 255, 0.05); 
    border-right: .125rem solid rgba(255, 255, 255, 0.05); 
    

}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: .75rem;
    
    background: rgba(241, 241, 241, 0.2);
    backdrop-filter: blur(0.75rem);
    border-radius: 0.5rem; 
    border: .125rem solid rgba(255, 255, 255, 0.2);        
    border-left: .125rem solid rgba(255, 255, 255, 0.3); 
    border-bottom: .125rem solid rgba(255, 255, 255, 0.05); 
    border-right: .125rem solid rgba(255, 255, 255, 0.05); 
}

.day{
    font-size: 12;
    font-weight:700;
}