@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

body{

    background-image: url("../src/assets/bg.png");

    background-size:cover;

    background-position:center center;

    background-repeat: no-repeat;

    background-attachment: fixed;

}

.bg-image{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
}